<p>catalogue-page works!</p>

<div class="h-56 grid grid-cols-6 gap-4 content-start ...">
  <ng-container *ngFor="let pokemon of pokemons; index as i">
    <div
      class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <img
        class="object-none object-center m-auto"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
          i + 1
        }}.png"
        alt=""
      />
      <div class="p-5 flex flex-col items-center">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
        >
          {{ pokemon.name }}
        </h5>

        <form (ngSubmit)="onSubmit(pokemon.name)">
          <button
            class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="submit"
          >
            Catch!
          </button>
        </form>
      </div>
    </div>
  </ng-container>
</div>
<!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <input
    type="text"
    ngModel
    name="loginName"
    #loginName="ngModel"
    placeholder="What's your name?"
    required
    minlength="3"
  />
  <div *ngIf="loginName.errors && (loginName.dirty || loginName.touched)">
    <span *ngIf="loginName.errors?.['minlength']">Too short</span>
  </div>
  <button type="submit">Login</button>
</form> -->
