<h2>Login Page</h2>

<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <input
    type="text"
    ngModel
    name="loginName"
    #loginName="ngModel"
    placeholder="What's your name?"
    required
    minlength="3"
  />
  <div *ngIf="loginName.errors && (loginName.dirty || loginName.touched)">
    <span *ngIf="loginName.errors?.['minlength']">Too short</span>
  </div>
  <button type="submit">Login</button>
</form>

<p>{{ trainer.username }}</p>
